* {
    // to avoid default padding margin on elements
    margin:0; 
    padding:0;
}
html {
    font-size: 62.5%; //62.5% is used so that we can rem effecttively for example for 12px we can simply write 1.2 rem
} 
body {
    font-size: 14px; /*pixel fallback for rem */
    font-size: 1.4rem; 
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 48px;
    font-size: 4.8rem;
}
a {
    // removing default browser style from anchors
    color: #7788A3;
    text-decoration: none;
}

//helper classes starts
// they are used to avoid inline styles
.hide {
    display: none;
}
.flex {
    display: flex;
}
.flex-grow {
    flex:1;
}
.flex-end {
    justify-content: flex-end;
}
.margin-r-10{
    margin-right: 10px;
}
.invisible-input {
    height: 0;
    width: 0;
    border: none;
}
//helper classes starts
.page-heading {
    color:#2B416C;
    margin: 20px 0;
    @media screen and (max-width:480px) {
        //small font-size for heading on mobile devices so that it appear on one line
        font-size: 30px;
        font-size: 3rem;
    }
}
.mat-button-toggle-group {
    background-color: #fff;
}
